<form class="parsleyFormValidate animated" id="ROIForm" data-parsley-errors-container="#errorBlock">
    <div class="form-group">
        <div id="errorBlock"></div>
    </div>
    <div class="form-group">
        <label class="primary-text" for="exampleInputEmail1">Email address (Required)</label>
        <input class="form-control" id="exampleInputEmail1" type="email"
               aria-describedby="emailHelp" placeholder="Enter email"
               data-parsley-required="true" name="email"
               data-parsley-type="email"
               data-parsley-error-message="Must enter a valid Email"/>
        <small class="form-text text-muted primary-text" id="emailHelp">
            We'll never share your email with anyone else.
        </small>
    </div>
    <div class="form-group">
        <label class="primary-text" for="exampleInputFirstName">First Name (Required)
        </label>
        <input class="form-control" id="exampleInputFirstName" type="text"
               placeholder="Enter first name" data-parsley-required="true"
               name="firstName" data-parsley-length="[2, 15]"
               data-parsley-error-message="Please Enter a first name between 1 - 15 characters"/>
    </div>
    <div class="form-group">
        <label class="primary-text" for="exampleInputLastName">Last Name (Optional)</label>
        <input class="form-control" id="exampleInputLastName" type="text"
               placeholder="Enter last name" name="lastName"
               data-parsley-length="[2, 25]"
               data-parsley-error-message="Please leave blank Or Enter last name between 1 - 25 characters" />
    </div>
    <button class="primary-color mt-3" type="submit">Submit</button>
</form>