<form class="parsleyFormValidate animated" id="ROIForm" data-parsley-errors-container="#errorBlock">
    <div class="form-group">
        <div id="errorBlock"></div>
    </div>
    <div class="form-group">
        <label class="primary-text" for="masternodeCollateral">Masternode Collateral</label>
        <input class="form-control" id="masternodeCollateral" type="text"
               aria-describedby="emailHelp" value="10000"
               data-parsley-required="true" name="masternodeCollateral"
               data-parsley-type="number" data-parsley-range="[1, 1000000]"
               data-parsley-error-message="Masternode Collateral: Must enter valid number between 1 - 1000000 (1,000,000)"/>
    </div>
    <div class="form-row">
        <div class="col-md py-3">
        <label class="primary-text" for="exampleInputFirstName">Start Masternode Count (Integer)
        </label>
        <input class="form-control" id="exampleInputFirstName" type="text"
               placeholder="Enter first name" data-parsley-required="true" value="115"
               data-parsley-type="integer" data-parsley-range="[1, 5000]"
               name="startMasternodeCount"
               data-parsley-error-message="Start Masternode: Please Enter Integer value between 1 - 5000"/>
        </div>
        <div class="col-md py-3">
        <label class="primary-text" for="masternodeIncreasePerDay">Masternode Increase Per Day</label>
        <input class="form-control" id="masternodeIncreasePerDay" type="text" value="2.5"
               name="masternodeIncreasePerDay"
               data-parsley-type="number" data-parsley-range="[1, 1000]"
               data-parsley-error-message="Masternode Increase: Please a number value between 1 - 1000" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-md py-3">
            <label class="primary-text" for="numberDays">Days to Run Simulation (Integer)</label>
            <input type="text" class="form-control" id="numberDays" value="360"
                   data-parsley-required="true" name="days"
                   data-parsley-type="integer" data-parsley-range="[1, 5000]"
                   data-parsley-error-message="Days Run Simulation: Must enter a Number of days between 1 - 5000"/>
        </div>
        <div class="col-md py-3">
            <label class="primary-text" for="blockTime">Block Time (Integer)</label>
            <input type="text" class="form-control" id="blockTime" value="60"
                   data-parsley-required="true" name="blockTime"
                   data-parsley-type="integer" data-parsley-range="[1, 86400]"
                   data-parsley-error-message="Block Time: Must enter a valid Block time, In seconds between 1-86400 (86,400)"/>
        </div>
    </div>
    
    <button class="primary-color mt-3" type="submit">Submit</button>
</form>